body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('img/bg2.jpg'); /* Replace with your background image */
	background-size: cover;
	background-position: center;
  }
  
  .background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
	backdrop-filter: blur(10px); /* Apply blur to the overlay */
	z-index: -1;
  }
  
  .container {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center horizontally */
	justify-content: center; /* Center vertically */
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px; /* Padding for the link container */
	background-color: rgba(255, 255, 255, 0.144); /* Background color with transparency */
	border-radius: 10px;
  }
  
  .profile-section {
	text-align: center;
	padding: 20px 0;
  }
  
  .profile-picture {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
  }
  
  .profile-name {
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #5da1c0;
  }
  
  .link {
	display: flex;
	align-items: center; /* Center both horizontally and vertically */
	justify-content: center; /* Center horizontally */
	margin: 10px 0;
	padding: 15px; /* Adjust padding for the link container */
	background-color: #ffffff00;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	color: #5da1c0;
	transition: background-color 0.3s ease, transform 0.3s ease;
	flex: 1; /* Allow the link boxes to grow equally */
  }
  
  .link-icon {
	width: 30%; /* Set width for the icons */
	max-width: 50px; /* Set a maximum width for the icons */
	height: auto; /* Automatically adjust height based on width */
	margin-right: 10px;
	font-size: 28px; /* Enlarge the icons */
  }
  
  .link:hover {
	background-color: #f0f0f0;
	transform: scale(1.1);
  }
  
